<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyBuddy"
        tools:targetApi="31">
        <activity
            android:name=".screens.StudentSchedule"
            android:exported="false" />
        <activity
            android:name=".screens.sTUDEN"
            android:exported="false" />
        <activity
            android:name=".screens.teacherSchedule"
            android:exported="false" />
        <activity
            android:name=".screens.Profile"
            android:exported="false" />
        <activity
            android:name=".screens.myprofileS"
            android:exported="false" />
        <activity
            android:name=".screens.myprofileT"
            android:exported="false" />
        <activity
            android:name=".screens.teacher_profile"
            android:exported="false" />
        <activity
            android:name=".one_user"
            android:exported="false" />
        <activity
            android:name=".OneUser"
            android:exported="false" />
        <activity
            android:name=".screens.AddLesson"
            android:exported="false" />
        <activity
            android:name=".TeacherHomePage"
            android:exported="false" />
        <activity
            android:name=".screens.HomePage"
            android:exported="false" />
        <activity
            android:name=".screens.AddTeacher"
            android:exported="false" />
        <activity
            android:name=".screens.AboutUs"
            android:exported="false" />
        <activity
            android:name=".screens.AdminPage"
            android:exported="false" />
        <activity
            android:name=".screens.SearchTeacher"
            android:exported="false" />
        <activity
            android:name=".screens.RegTorS"
            android:exported="false" />
        <activity
            android:name=".screens.login"
            android:exported="false" />
        <activity
            android:name=".screens.Register"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>